# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv
env/
venv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDEs / Editors
.vscode/
.idea/
*.swp
*.swo
*~

# MacOS / Windows system files
.DS_Store
Thumbs.db

# A directory that can be used for scripts used in testing and local development 
dev/*